.section1trending{
    width: 100%;
    height: 55vh;
    background-color: #111111;
    display: flex;
    justify-content: center;
}

.section1trendingailen{
    width: 95%;
    height: 55vh;
    /* background-color: darkcyan; */

}

.trending_movie{
    width: 13%;
    height: 6vh;
    /* background-color: blueviolet; */
    position: relative;
}

.trending_movietext{
    display: block;
    margin-block-start: 0.43em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: Poppins, sans-serif;
    color: rgb(187 187 187);
    font-size: 1.5rem;
    line-height: 2rem;
    
}

.TrendingMovieline{
    width: 30%;
    height: 1vh;
    border-bottom: 1px solid white;
    /* background-color: white; */
    padding-bottom: .25rem;
}

.cardbody{
    width: 13%;
    height: 45vh;
    /* background-color: rgb(215, 212, 29); */
    cursor: pointer;
    display: flex;
    align-items: center;
    /* padding-top: 1.5rem;
    padding-bottom: 2rem; */
    /* touch-action: pan-y;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block; */
}

.carddetails{
    width: 100%;
    height: 40vh;
    background-color: aliceblue;
    border-radius: 15px;
    position: relative;
    background: url('https://image.tmdb.org/t/p/w300//1mfJPwp9ST8j4N6uqW3gDxDZIFM.jpg') no-repeat center center/cover;
}

.carddetails2{
    width: 100%;
    height: 40vh;
    /* background-color: aliceblue; */
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    /* justify-content: end; */
    align-items: end;
    align-self: self-end;
    
    
}

.carddetails3{
    width: 100%;
    height: 13vh;
    /* background-color: chartreuse; */
    position: absolute;
    bottom: -0.1rem;
    /* left: 1.5rem; */
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
    gap: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.carddetails3txet{
    color: #fff;
    font-size: 15px;
    line-height: 1.2rem;
    display: block;
    font-weight: 300;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    
    
}

.carddetails3txet:hover{
    color: #007aff;
}

.cardsubdetails{
    width: 100%;
    height: 4vh;
    color: #fff;
    font-size: .80rem;
    line-height: 1rem;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    gap: 5px;
    display: flex;
    align-items: center;
}

.cow{
    width: 30%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 17px;

}

.cardtype{
    width: 30%;
    height: 4vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #fff;
}